body {
	background: $background;
	color: $text;
}

#app {
	// background-color: lighten($background, 10%);
	margin: 0 auto;
	margin: 0 5vw;

	@include tablet {
		margin: 0 8vw;
	}

	@include desktop {
		margin: 0 15vw;
	}
}

table {
	background-color: lighten($background, 10%);
	border-radius: 5px;
	padding: 5rem;
	margin: auto;
	width: 100%;
	td {
		min-width: 30vw;
		padding: 1ch;
	}
	th {
		text-align: left;
		padding: 1ch;
		background-color: lighten($background, 5%);
		height: 60px;
	}
	tbody {
		tr {
			height: 110px;
			&:nth-child(even) {
				background-color: lighten($background, 20%);
			}
		}
	}

	h3 {
		text-decoration: underline;
	}
}

.formWrapper {
	width: 100%;
}

form {
	background-color: lighten($background, 10%);
	border-radius: 5px;
	margin: 2.5rem;
	padding: 2ch;
	margin: 5rem auto;
	input {
		margin: 1ch 0;
		background-color: $background;
		border: none;
		color: $text;
		padding: 2ch;
		transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
		&:hover {
			background-color: black;
			box-shadow: 8px 8px rgba($background, 0.2);
		}
	}
	legend {
		text-decoration: underline;
	}
	fieldset {
		border: none;
		margin: 2ch;
		padding: 2ch;
	}
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 1rem 0rem;
}


canvas {
	background: lighten($background, 5%);
}